.my-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 40px 40px;
  }

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}

.flexbox-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}
